logged in as [<%=@user.username%>] <br> <%= button_to 'Logout', logout_path, :method => :delete %>
<hr>
<h1>Welcome <%= @user.name %></h1>
<hr>
<h3>View your past trips</h3>
<% @trips.each do |trip| %>
<%= link_to trip.trip_title, trip_path(trip) %><br>
<% end %>
  <!-- we want to be able to add a picture here for each trip listed -->
  <br>
<%= button_to 'Create a new trip!', new_trip_path, method: 'get' %>
<%= button_to 'Check out other itineraries', alltrips_path, method: 'get' %>
<br>
<%= button_to "view all destinations", destinations_path, method: 'get' %>
<%= button_to "back", :back, method: 'get' %>
