<header>
<h1>Trip Ideas</h1>
</header>

<body class="content"><br>
  <br>
  <%= image_tag("world.png") %>
  <br><br>
<%= link_to "view all destinations", destinations_path %><br><br>
<% @alltrips.each do |trip| %>
  <% if trip.trip_title != "" %>
  <div class="trip">
  :: <%= trip.user.username %><br>
  <%= link_to trip.trip_title, trip_path(trip) %><br><br>
  <img src = '<%=trip.image_url%>' width="350"><br>
  <% end %>
  </div>
<% end %>

<br>

<%= button_to "back", :back, method: 'get' %>
</body>
