<header>
<h1>Trip Details</h1>
</header>
<br>
<body class="content">
<h5>Title :: </h5> <%= @trip.trip_title %> <br><br>
<h5> Itinerary :: </h5> <%= @trip.itinerary  %><br><br>
<h5> Pic :: </h5> <br> <img src = '<%=@trip.image_url%>' width="640" style="border:2px solid grey"><br><br>
<h5> Comment :: </h5> <%= @trip.comment %><br><br>
<%= link_to 'edit', edit_trip_path(@trip)%> | <%= link_to "delete", @trip, method: 'delete' %> <br><br>
<%= button_to "view all destinations", destinations_path, method: 'get' %>
<br>
</body>
