<header>
<h1>TrekTracker</h1>

<hr>
<hr>
<hr>
</header>

<h3 class="headline"> Share ⚯ Love ⚭ Travel  </h3>
<body class="content">
<br>
Log in to start exploring
<br><br>
<%= image_tag("827403_global_512x512.png") %>
<br><br>

<%= form_with(scope: "session", url: sessions_path, local: true) do |form| %>
  <% if @error %>
    <div id="error_explanation">
      <h2>An error prohibited this user from being saved:</h2>

      <ul>
        <li><%= @error %></li>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :username %>
    <%= form.text_field :username %>
  </div>

  <div class="field">
    <%= form.label :password %>
    <%= form.password_field :password %>
  </div>

  <div class="actions">
    <%= form.submit "Log in" %>
  </div>
<% end %>

<br>
<div><%= link_to 'Join Us Here', new_user_path, method: 'get' %> </div>
<br><br>
</body>
