<header><h1>The World Is Your Oyster! Have Fun </h1></header>
<br>
<body class="content">
  <br>
  <%= image_tag("heart.png") %><br><br>
<%= form_with model: @user do |f| %>

    <div class="field">
      <%= f.label :name %>
      <%= f.text_field :name %>
    </div>

    <div class="field">
      <%= f.label :email %>
      <%= f.text_field :email %>
    </div>

    <div class="field">
      <%= f.label :username %>
      <%= f.text_field :username %>
    </div>

    <div class="field">
      <%= f.label :password %>
      <%= f.password_field :password %>
    </div>
<br><br>
    <div class="actions">
      <%= f.submit %>
    </div>

<% end %>
</body>
