<header>
<h1>Click the city for more information</h1> <br>
</header>
<br>
<body class="content">
<br>
  <%= image_tag("map-location.png") %><br><br>
  <% @destinations.each do |d| %>
   <% if d.state != nil %>
  [Category] : USA <br>
    <%= link_to d.city, d%> <%= d.state%> <%= d.country%><br><br>
  <% else %>
  [Category] : Overseas <br>
    <%= link_to d.city, d%> <%= d.country%><br><br>
  
  <% end %>
<% end %>

<%= button_to "back to my trips", trips_path, method: 'get' %>

</body>
<br><br><br><br>
