<%= button_to 'Logout', logout_path, :method => :delete %>
<hr>

<h3>Click the city for more information</h3> <br>
  <ul>
  <% @destinations.each do |d| %>
   <% if d.state != nil %>
  [Category] : USA <br>
    <li><%= link_to d.city, d%> <%= d.state%> <%= d.country%></li><br><br>
  <% else %>
  [Category] : Overseas <br>
    <li><%= link_to d.city, d%> <%= d.country%></li><br><br>
  <% end %>
<% end %>
</ul>
<%= button_to "back to my trips", trips_path, method: 'get' %>
