<h1>Enter your destination!</h1>
<hr>
<%= form_with model: @destination do |f| %>
<!-- need to come back to this -->
<%= f.collection_select :destination_id, Destination.all, :id, :city%>
<%= f.fields_for :destinations, trip.destinations.build do |destinations_fields| %>
<%= destinations_fields.text_field :city %>
<%= destinations_fields.text_field :state %>
<%= destinations_fields.text_field :country %>
<%= f.submit %>
<% end %>
<% end %>
