<header>
<h1>Enter your destination!</h1>
</header>

<body class="content">

<div>
  <br>
  <%= image_tag("placeholder.png") %><br><br>
  For United States
  <br>
  <%= form_with model: @destination do |f| %>
   <%= f.label :city%>
   <%= f.text_field :city %>
   <%= f.collection_select :destination_id, Destination.all, :id, :city %>
   <%= f.label :state%>
   <%= f.text_field :state %>
   <%= f.collection_select :destination_id, Destination.all, :id, :state %>

   <%= f.submit %>
  <% end %>
</div>
<br><br>
<div>
  For Outside of United States
  <br>
  <%= form_with model: @destination do |f| %>
   <%= f.label :city%>
   <%= f.text_field :city %>
   <%= f.label :country%>
   <%= f.text_field :country %>
   <%= f.collection_select :destination_id, Destination.all, :id, :country %>

   <%= f.submit %>
  <% end %>
</div>
<br><%= button_to "back", new_trip_path, method: 'get' %>
</body>
