<header>
<h1>Destination</h1>
</header>
<br><br>
<body class="content">
  <%= image_tag("map-location.png") %><br><br>
<div class="destination">
City: <%= @destination.city%><br>
State: <%= @destination.state %><br>
Country: <%= @destination.country %>
</div>

<div>
<br>
<div>Itineraries for this City</div>

  <% @destination.trips.each do |t| %>
  <%= link_to t.trip_title, t %><br>
  <% end %>

</div>
<br>
<%= link_to "edit", edit_destination_path, method: 'get' %>
<%= link_to "delete", @destination, method: 'delete' %>
<br>
<br><%= button_to "back", :back, method: 'get' %>

</body>
